* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  width: 120px;
  height: 80px;
  left: -2px;
}

.hamburger {
  position: absolute;
 /* width: 20px;
  height: 14px;
  left: 282px;
  top: 19px;*/
  width: 1.5em;
  height: 1em;
  left: 19.625em;
  top: 1.1875em;
}

.name {
  /*position: absolute;
  width: 288px;
  height: 336px;
  left: -10px;*/
  width: 375px;
  height: 21em;
  left: -0.625em;
}

.name h1 {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 28px;
  top: 90px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 50px;
  line-height: 100%;
}

.name p {
  position: absolute;
  width: 288px;
  height: 147px;
  left: 30px;
  top: 220px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

h6 {
  position: absolute;
  width: 203.68px;
  height: 26.47px;
  left: 58px;
  top: 402px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.rectangle {
  align-items: center;
  background-color: #1a2236;
  border: 1px solid #1a2236;
  color: #fff;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 15px;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  margin: 380px 14.39% 14.391% 10.321%;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 80%;
}

.rectangle:hover {
  color: #1a2236;
  background-color: #fff;
}

.pro {
  position: absolute;
  width: 181px;
  height: 50px;
  left: 16px;
  top: 660px;
  bottom: 150px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-top: 30px;
  color: #1a2236;
}

.proLogo {
  position: absolute;
  width: 375px;
  height: 180px;
  left: 0;
  top: 460px;
  margin: 25px 0 25px 0;
}

.work-list {
  padding-top: 40px;
}

.project-card {
  position: absolute;
  width: 375px;
  height: 186px;
  left: 0;
  top: 760px;
}

.project-img {
  display: block;
  width: 100%;
  margin: auto;
  max-width: 550px;
}

.project-info {
  /* background: #1A2236;
   */
  background-color: #1a2236;
  color: #fff;
  padding-bottom: 20px;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  margin: 0 5% 16px;
  padding-top: 20px;
  color: white;
}

.tech-list {
  display: flex;
  margin: 0 5% 20px;
}

.tech-list li {
  align-items: center;
  background-color: #98dede;
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
  margin-right: 10px;
  padding: 6px;
  float: right;
  list-style: none;
}

.project-btn-container {
  display: flex;
  margin: 0 5%;
}

.project-btn {
  align-items: center;
  background-color: #1a2236;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 44px;
  line-height: 24px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 185px;
}

.project2 .project-card {
  position: absolute;
  width: 375px;
  height: 342px;
  left: 0;
  top: 1140px;
}

.project3 .project-card {
  position: absolute;
  width: 375px;
  height: 342px;
  left: 0;
  top: 1520px;
}

.project4 .project-card {
  position: absolute;
  width: 375px;
  height: 342px;
  left: 0;
  top: 1900px;
}

.project5 .project-card {
  position: absolute;
  width: 375px;
  height: 342px;
  left: 0;
  top: 2275px;
}

.project6 .project-card {
  position: absolute;
  width: 375px;
  height: 342px;
  left: 0;
  top: 2694px;
}

.about-title {
  position: absolute;
  width: 350px;
  height: 1171px;
  left: 15px;
  top: 3132px;
  padding-bottom: 50px;
}

#about {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 20px;
}

.about-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1a2236;
}

.body-btn {
  align-items: center;
  background-color: #1a2236;
  border: 1px solid #1a2236;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 30px 5%;
  height: 50px;
}

.body-btn a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.body-btn img {
  margin-top: 10px;
  margin-left: 5px;
}

.about-lists {
  position: absolute;
  width: 325px;
  height: 298px;
  left: 25px;
  top: 3460px;
  display: flex;
  flex-flow: column;
  gap: 18px;
}

.languages {
  padding: 50px 40px 90px 40px;
  background-color: #215690;
}

.languages img {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 222px;
  top: 175px;
}

.frameworks {
  padding: 50px 40px 90px 40px;
  background-color: #ce4e59;
}

.frameworks img {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 220px;
  top: 472px;
}

.skills {
  padding: 50px 40px 80px 40px;
  background-color: #febf52;
}

.skills img {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 220px;
  top: 785px;
}

.about-lists h3 {
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about-lists li {
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.contact {
  position: absolute;
  width: 375px;
  height: 775px;
  left: -2px;
  top: 4400px;
}

.contact-form {
  position: absolute;
  width: 375px;
  height: 775px;
  left: 20px;
  top: 15%;
}

#contact {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
  color: #1a2236;
}

.contact-form p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin: 5% 0 3% 0;
  padding-right: 4%;
  color: #1a2236;
}

form {
  justify-content: center;
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  margin-right: 10%;
  gap: 10px;
}

.name-label p {
  font-size: 70%;
  padding-left: 5%;
  padding-bottom: -2px;
}

label {
  background-color: #fff;
  border: 1px solid #5f5c5c;
  color: #7d7c84;
  font-size: 80%;
  margin: 1% auto;
  max-width: 500px;
  padding: 8px;
  width: 90%;
  display: flex;
  flex-flow: column;
  border-radius: 3%;
}

label input {
  border: none;
  margin: 5%;
  text-align: justify;
}

textarea {
  border: none;
}

.contact-btn {
  align-items: center;
  background-color: #1a2236;
  border: 1px solid #1a2236;
  color: #fff;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 15px;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  margin: 5% 5%;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 90%;
}

.contact-btn:hover {
  color: #1a2236;
  background-color: #fff;
}

footer {
  font-size: 20px;
  background-color: #1a2236;
  position: absolute;
  width: 375px;
  height: 140px;
  left: 0;
  top: 5250px;
}

.resume-lin {
  align-items: center;
  color: #98dede;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 30px;
  text-decoration: none;
  transition: 0.2s;
  width: fit-content;
  margin: 5% 0 10% 20%;
}

.social-media-list {
  display: flex;
  list-style: none;
  margin: 0 5%;
  justify-content: space-between;
  font-size: 130%;
}

.social-media-list i {
  color: #fff;
}
